:root {
  --app-background: url(https://i.imgur.com/GIfkekn.jpg);
   --loop-gif: url(https://github.com/Splashbr/Splash-theme/blob/main/background/DISCORD_LOGO_BLACK_400.gif);
  --app-blur: 6px;
  --app-margin: 5px;
  --app-radius: 10px;
  --sidebar-color: rgba(0, 0, 0, 0.4);
  --main-content-color: rgba(0, 0, 0, 0.2);
  /* código padrao #aaa */
  --interactive-normal: #aaa;
  /* cor que vai ficar ao passar o mouse em cima, o padão #ddd */
  --interactive-hover: #ddd;
   /* cor que vai ficar quando selecionar o item, o padão #fff */
  --interactive-active: #fff;
  /*  */
  --interactive-muted: #777;
  /*  */
  --channels-default: #aaa;
  /* cor do seu perfil com call/seu nome e textos, o padão #dfdfdf*/
  --header-secondary: #dfdfdf;

  /* cores */
  --color-author: #A240BF;
  --color-discord: #aaa;
  --color-mef: #aaa;
}

div[class*="typeWindows-"]::after {
  content: "🔮Splash-themes🔮 v0.0.1";
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0 90px;
  z-index: -1;
  width: 100%;
  height: 0px;
  background: transparent;
  color: var(--color-author);
}
/*
$$$$$$$\   $$$$$$\   $$$$$$\  $$\   $$\  $$$$$$\  $$$$$$$\   $$$$$$\  $$\   $$\ $$\   $$\ $$$$$$$\   $$$$$$\  
$$  __$$\ $$  __$$\ $$  __$$\ $$ | $$  |$$  __$$\ $$  __$$\ $$  __$$\ $$ |  $$ |$$$\  $$ |$$  __$$\ $$  __$$\ 
$$ |  $$ |$$ /  $$ |$$ /  \__|$$ |$$  / $$ /  \__|$$ |  $$ |$$ /  $$ |$$ |  $$ |$$$$\ $$ |$$ |  $$ |$$ /  \__|
$$$$$$$\ |$$$$$$$$ |$$ |      $$$$$  /  $$ |$$$$\ $$$$$$$  |$$ |  $$ |$$ |  $$ |$$ $$\$$ |$$ |  $$ |\$$$$$$\  
$$  __$$\ $$  __$$ |$$ |      $$  $$<   $$ |\_$$ |$$  __$$< $$ |  $$ |$$ |  $$ |$$ \$$$$ |$$ |  $$ | \____$$\ 
$$ |  $$ |$$ |  $$ |$$ |  $$\ $$ |\$$\  $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |\$$$ |$$ |  $$ |$$\   $$ |
$$$$$$$  |$$ |  $$ |\$$$$$$  |$$ | \$$\ \$$$$$$  |$$ |  $$ | $$$$$$  |\$$$$$$  |$$ | \$$ |$$$$$$$  |\$$$$$$  |
\_______/ \__|  \__| \______/ \__|  \__| \______/ \__|  \__| \______/  \______/ \__|  \__|\_______/  \______/ 
*/

.appMount-3lHmkl, body {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)) , var(--app-background) 50% 50%/cover !important;
  background-color: transparent !important;
  text-rendering: optimizeLegibility;
}
.appMount-2yBXZl, body {
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8)) , var(--app-background) 50% 50%/cover !important;
  background-color: transparent !important;
  text-rendering: optimizeLegibility;
}
/* marca do discord */
.wordmarkWindows-2dq6rw {
  color: var(--color-discord) !important;
}
/* minimizar/espandir/fexar */
.winButton-3UMjdg {
  color: var(--color-mef) !important;
}
/* icon do discord */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
 color: var(--loop-gif) !important;
 background: transparent;


}
