/**
 * @name Splash-themes
 * @author Splashh † ©#6021
 * @description Um tema clem para discord, é posivel personalizar o tema.
 * @version 0.0.1
 * @website https://github.com/Splashbr
 * @source https://github.com/Splashbr/Splash-theme/blob/main/source.css
 */

@import url(https://splashbr.github.io/Splash-theme/source.css);

:root {
  --app-background: url('https: //i.imgur.com/4dxbkM8.gif');
  --home-icon: url('https://i.imgur.com/5KhcTvq.gif');
  --app-blur: 5px; /* Vai aplicar desfoque na imagem que ta no fundo*/
  --app-margin: 10px; /* Vai aplicar uma distancia das bordas do discord*/
  --app-radius: 10px;
  --accent-hue: 290; /* Cor das pasta e no perfil */
  --sidebar-color: rgba(0, 0, 0, 0.4); /* Sonbreado no sevidores e mensagens */
  --main-content-color: rgba(0, 0, 0, 0.2); /* Sonbreado no chat*/
  /* código padrao #aaa */
  --interactive-normal: #aaa;
  /* código padrao #ddd */
  --interactive-hover: #ddd;
  /* código padrao #fff */
  --interactive-active: #fff;
}