/**
 * @name Splash-themes
 * @author Splashh † ©#6021
 * @description Em desovimesnto
 * @version 0.0.1
 * @website https://github.com/Splashbr
 * @source https://github.com/Splashbr/Splash-theme/blob/main/source.css
 */

@import url(https://splashbr.github.io/Splash-theme/source.css);

:root {
  --app-background: url(https://i.imgur.com/GIfkekn.jpg);
  /* cor do (Discord, Amigos, Nitro, público, Mensagens diretas etc... */
    /* código padrao #aaa */
    --interactive-normal: #aaa;
    /* cor que vai ficar ao passar o mouse em cima, o padão #ddd */
    --interactive-hover: rgb(255, 217, 0);
    /* cor que vai ficar quando selecionar o item, o padão #fff */
    --interactive-active: rgb(255, 0, 0);
}
