/**
 * @name Splash-themes
 * @author Splashh † ©#6021
 * @description Em desovimesnto
 * @version 0.0.1
 * @website https://github.com/samuelxpn
 * @source https://github.com/samuelxpn/teste.theme.github.io/blob/main/source.
 */


 @import url(https://splashbr.github.io/Splash.theme.github.io/source.css);

 :root {
  --app-background: url(https://i.imgur.com/GIfkekn.jpg);
   --app-blur: 6px;
  --app-margin: px;
  --app-radius: 10px;
 }